.group-header {
  display: flex;
  margin-bottom: 40px;
}

.group-title-container {
  display: flex;
  gap: 5px;
}

.group-title-header {
  display: flex;
  gap: 5px;
}

.group-title {
  font-size: 24px;
  font-weight: bold;
}