:host {
  margin-left: auto;
}

.user-list {
  display: flex;
  margin-left: auto;
  gap: 5px;
}

.user-avatar {
  background-color: #f5f5f5;
  color: #aeaeae;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 550;
}
