.menu-icon {
  width: 24px;
  height: 24px;
  max-height: 24px;
  vertical-align: middle;
}

.menu-button {
  display: inline;
  cursor: pointer;
  max-height: 24px;
}

.dropdown-menu {
  position: relative;
  max-height: 24px;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  position: absolute;
  background-color: #f9f9f9;
  border-radius: 10px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /* padding: 12px 16px; */
}

.dropdown-content .other {
  border-bottom: solid 1px #ddd;
  padding: 10px;
}

.dropdown-menu-item {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px;
}

.dropdown-menu-item:hover {
  background-color: #EEE;
}

.dropdown-menu-item a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 16px;
}
