.group-card {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
}

.group-card:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border: 3px solid #fbd9b0;
}

.group-header {
  display: flex;
  margin-bottom: 40px;
}

.group-title-container {
  display: flex;
  gap: 5px;
}

.group-title-header {
  display: flex;
  gap: 5px;
}

.group-title {
  font-size: 24px;
  font-weight: bold;
}

.menu-icon {
  width: 24px;
  height: 24px;
  max-height: 24px;
  vertical-align: middle;
}

.menu-button {
  display: inline;
  cursor: pointer;
  max-height: 24px;
}

.dropdown-menu {
  position: relative;
  max-height: 24px;
}

.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  border-radius: 10px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
}

.dropdown-content a {
  display: block;
  text-decoration: none;
  color: black;
}

.dropdown-content .other {
  border-bottom: solid 1px #ddd;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.warning-message {
  color: #777;
}

.user-list {
  display: flex;
  margin-left: auto;
  gap: 5px;
}

.user-avatar {
  background-color: #0969b6;
  color: white;
  width: 30px;
  height: 30px;
}

.initials {
  vertical-align: middle;
  text-align: center;
}

.service-list {
  display: flex;
  gap: 15px;
}

.service-icon {
  max-height: 36px;
  max-width: 36px;
}

.service-item {
  display: flex;
  gap: 10px;
}

.service-info > .values {
  color: #777;
}
