.group-card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: auto;
}

.group-card:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border: 3px solid #fbd9b0;
}

.warning-message {
  color: #777;
}

.service-list {
  display: flex;
  gap: 15px;
}

.service-icon {
  max-height: 36px;
  max-width: 36px;
}

.service-item {
  display: flex;
  gap: 10px;
}

.service-info > .values {
  color: #777;
}

.service-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
