<div
  class="group-card"
  (mouseenter)="showMenu = true"
  (mouseleave)="showMenu = false"
  (mouseleave)="isVisible = false"
>
  <div class="group-header">
    <div class="group-title-container">
      <span *ngIf="group.warning" class="warning-icon">⚠️</span>
      <div class="group-title-section">
        <div class="group-title-header">
          <div class="group-title">{{ group.name }}</div>
          <div class="dropdown-menu">
            <div
              *ngIf="showMenu"
              class="menu-button"
              (click)="toggleVisibility()"
            >
              <img src="assets/ellipsis.svg" class="menu-icon" />
            </div>

            <div *ngIf="isVisible && showMenu" class="dropdown-content">
              <div class="other">Other</div>

              <div class="dropdown-menu-item">
                <img src="assets/pencil.svg" />
                <a href="">Modify</a>
              </div>

              <div class="dropdown-menu-item">
                <img src="assets/bin.svg" />
                <a href="">Delete</a>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="group.warning" class="warning-message">
          {{ group.warning }}
        </div>
      </div>
    </div>

    <div class="user-list">
      <div *ngFor="let user of group.users | slice : 0 : 3" class="user-avatar">
        {{ user.initials }}
      </div>
      <div *ngIf="group.users.length > 3" class="user-avatar more">
        +{{ group.users.length - 3 }}
      </div>
    </div>
  </div>

  <div class="service-list">
    <div *ngFor="let s of group.services | slice : 0 : 4" class="service-item">
      <img src="assets/wallet.svg" class="service-icon" />
      <div class="service-info">
        <div class="title">{{ s.title }}</div>
        <div class="values">
          {{ s.min | currency : "EUR" }} - {{ s.max | currency : "EUR" }}
        </div>
      </div>
    </div>
    <div
      *ngIf="group.services.length == 5; else serviceOverflow"
      class="service-item"
    >
      <img src="assets/wallet.svg" class="service-icon" />
      <div class="service-info">
        <div class="title">{{ group.services[4].title }}</div>
        <div class="values">
          {{ group.services[4].min | currency : "EUR" }} -
          {{ group.services[4].max | currency : "EUR" }}
        </div>
      </div>
    </div>

    <ng-template #serviceOverflow>
      <img src="assets/wallet.svg" class="service-icon" />
      <div class="service-info">+{{ group.services.length - 4 }} Services</div>
    </ng-template>
  </div>
</div>
