/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f8f8;
}

app-root {
  display: block;
}
